*{
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1rem;
    text-align: justify;
}
div{
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
}
@media screen and (max-width: 480px) {
    html{
        font-size: 14px;
    }
    body{
        background-color: #03a9f4;
    }
    div{
        width: 95%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    html{
        font-size: 15px;
    }
    body{
        background-color: #ff9800;
    }
    div{
        width: 85%;
    }
    
}
@media screen and (min-width: 769px) {
   
body {
    font-size: 16px; 
    background-color: #E0E0E0; 
}


div {
    width: 75%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: white; 
   }

    
}

